.myNavbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 888;
    height: 100px;
    transition: all .3s ease-in-out;
    box-sizing: border-box;
    .logo {
        height: 100px;
        width: 91px;

        a {
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }

    .col-lg-6 {
        .links {
            height: 100px;
            line-height: 100px;
            margin-bottom: 0;

            .homelink {
                padding-right: 20px;
                padding-left: 0;
            }

            li {
                display: inline-block;
                padding: 0 20px;
                margin: -2px;

                a {
                    display: block;
                    font-size: 14px;
                    font-weight: 600;
                    color: tools.$color_writings_light;
                    letter-spacing: 1px;
                    line-height: 40px;
                    text-decoration: none;
                    transition: .1s ease-out;

                    &:hover {
                        color: tools.$color_purple;
                    }

                    i {
                        font-size: 11px;
                    }
                }
            }

            .discoverlink {
                position: relative;

                &:hover>.dropdowndiscover {
                    visibility: visible;
                    opacity: 1;
                    top: 42px;
                    z-index: 1;
                }

                .dropdowndiscover {
                    visibility: hidden;
                    position: absolute;
                    top: 20px;
                    left: 15px;
                    width: 200px;
                    opacity: 0;
                    z-index: -1;
                    border-radius: 7px;
                    transition: top .5s, opacity .5s;
                    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

                    &:hover {
                        visibility: visible;
                        opacity: 1;
                        top: 42px;
                    }

                    li {
                        display: block;
                        border-bottom: 1px solid #f5f5f5;
                        background-color: #fff;

                        a {
                            display: block;
                            color: tools.$color_writings_dark;
                            font-size: 13px;
                        }
                    }

                    #gofeatures {
                        border-top-left-radius: 5px;
                        border-top-right-radius: 5px;
                        border-left: 0px solid;
                        transition: .2s linear;

                        &:hover {
                            border-left: 4px solid tools.$color_purple;
                            background-color: #f5f5f5;
                        }
                    }

                    #goourteam,
                    #gopricingtable {
                        border-left: 0px solid;
                        transition: .2s linear;

                        &:hover {
                            border-left: 4px solid tools.$color_purple;
                            background-color: #f5f5f5;
                        }
                    }

                    #golatestblogs {
                        border-bottom-left-radius: 5px;
                        border-bottom-right-radius: 5px;
                        border-left: 0px solid;
                        transition: .2s linear;
                        border-bottom: none !important;

                        &:hover {
                            border-left: 4px solid tools.$color_purple;
                            background-color: #f5f5f5;
                        }
                    }
                }
            }

            .pageslink {
                position: relative;

                &:hover>.dropdownpages {
                    visibility: visible;
                    opacity: 1;
                    top: 42px;
                    z-index: 1;
                }

                .dropdownpages {
                    visibility: hidden;
                    position: absolute;
                    top: 20px;
                    left: 15px;
                    width: 200px;
                    opacity: 0;
                    z-index: -1;
                    border-radius: 7px;
                    transition: top .5s, opacity .5s;
                    // transition: .3s ease-out;
                    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

                    &:hover {
                        visibility: visible;
                        opacity: 1;
                        top: 42px;
                    }

                    li {
                        display: block;
                        border-bottom: 1px solid #f5f5f5;
                        background-color: #fff;

                        a {
                            display: block;
                            color: tools.$color_writings_dark;
                            font-size: 13px;
                        }
                    }

                    #goaboutus {
                        border-top-left-radius: 5px;
                        border-top-right-radius: 5px;
                        border-left: 0px solid;
                        transition: .2s linear;

                        &:hover {
                            border-left: 4px solid tools.$color_purple;
                            background-color: #f5f5f5;
                        }
                    }

                    #gofeaturespages,
                    #gofaqs {
                        border-left: 0px solid;
                        transition: .2s linear;

                        &:hover {
                            border-left: 4px solid tools.$color_purple;
                            background-color: #f5f5f5;
                        }
                    }

                    #goblog {
                        border-bottom-left-radius: 5px;
                        border-bottom-right-radius: 5px;
                        border-left: 0px solid;
                        transition: .2s linear;
                        border-bottom: none !important;

                        &:hover {
                            border-left: 4px solid tools.$color_purple;
                            background-color: #f5f5f5;
                        }
                    }
                }
            }
        }
    }

    .buttons {
        height: 100px;
        line-height: 100px;
        float: right;

        li {
            display: inline-block;

            a {
                text-decoration: none;
                font-weight: 700;
                font-size: 12px;
                border: 1px solid tools.$color_purple;
                padding: 7px 30px;
                border-radius: 5px;
                letter-spacing: 0.5px;
                line-height: 31px;
                text-align: center;
                margin-right: 0;
                margin-left: 10px;
            }

            #signin {
                color: tools.$color_purple;
                background: none;
                transition: .2s ease-in-out;

                &:hover {
                    background-color: tools.$color_purple;
                    color: tools.$color_white;
                }
            }

            #signup {
                color: tools.$color_white;
                background-color: tools.$color_purple;
                transition: .2s ease-in-out;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
                &:hover {
                    color: tools.$color_purple;
                    background-color: tools.$color_writings_dark;
                    background: none;
                }
            }
        } 
    }

    .hamburgercolumn {
        display: none;
        position: relative;

        a {
            position: absolute;
            right: 10px;
            width: 32px;
            height: 40px;
            top: 23px;
            cursor: pointer;

            #topline {
                content: "";
                position: absolute;
                top: 14px;
                left: 0;
                display: block;
                width: 21px;
                height: 3px;
                background-color: #3B566E;
                transform-origin: left center;
            }

            #midline {
                content: "";
                position: absolute;
                left: 0;
                top: 25px;
                display: block;
                width: 30px;
                height: 1.9px;
                background-color: #3B566E;
                transform-origin: left center;
            }

            #bottomline {
                content: "";
                position: absolute;
                top: 36px;
                left: 0;
                display: block;
                width: 21px;
                height: 3px;
                background-color: #3B566E;
                transform-origin: left center;
            }
        }
    }

    .dropdownnav {
        display: none;
        border-radius: 5px;
        width: 100%;
        height: 0px;
        overflow: hidden;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

        li {
            border-bottom: 1px solid #f5f5f5;
            background-color: #fff;

            a {
                text-decoration: none;
                padding-left: 20px;
                height: 50px;
                line-height: 50px;
                font-weight: 600;
                color: tools.$color_writings_dark;
            }

            i {
                float: right;
                padding-top: 20px;
                padding-right: 16px;
                color: tools.$color_writings_dark;
                font-size: 13px;
            }
        }
    }
}
.myNavbarothers{
    box-shadow:rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
    background-color: white !important;
    height: 77px !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
}
.logoothers{
    height: 77px !important;
}
.linksothers{
    line-height: 77px !important;
}
.buttonsothers{
    line-height: 77px !important;
}


@media only screen and (max-width: 992px) {
    .linkscol{
        display: none;
    }

    .buttonscol {
        display: none;
    }

    .hamburgercolumn {
        display: block !important;
    }

    .dropdownnav {
        display: block !important;
    }

    .myNavbar,
    .logo {
        height: 80px !important;

    }

    .myNavbar {
        background-color: #fff;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }

    #hamburgerclick {
        top: 12px;
    }
}